html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: grey;
}

h1 {
    color: #ffc0cb;
}

p {
    color: #ffd4db;
}

.title {
    text-align: center;
}

.items {
    display: flex;
    height: 75%;
}

.yourScore, .botScore {
    background-color: rgb(69, 69, 69);
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.gameScoresTitle, .gameScores {
    text-align: center;
}

.gameScores {
    font-size: 40px;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    width: 50%;
}

.button {
    background-color: #ffaab8;    
    border: 0px;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

.buttons, .scores
 {
  flex: 1;
}

